{
    "plugins": [
        "@babel/plugin-proposal-decorators",
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ],
    "presets": [
        "@babel/preset-stage-0",
        "@babel/preset-react",
        ["@babel/preset-env", {
            "targets": {
                "browsers": ["last 2 versions", "safari >= 7", "ie >= 11"]
            }
        }]
    ]
}
